rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /accounts/{account} {
      allow read, update, delete: if request.auth.uid == resource.data.user;
      allow create: if request.auth.uid != null;
    }
    match /transactions/{transaction} {
      allow read, update, delete: if request.auth.uid == resource.data.user;
      allow create: if request.auth.uid != null;
    }
  }
}