p {
  margin: 0;
  padding: 0;
  line-height: 1.1rem;
}

button {
  padding: 5px 10px 5px 10px;
  text-align: left;
  width: 150px;
  margin: 10px;

  span {
    float: right;
  }
}

mat-spinner {
  float: left;
  margin: 10px;
}

.accounts {
  padding: 10px;
}

div {
  display: inline-block;
}
