<form [formGroup]="account">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput required formControlName="name">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Account Type</mat-label>
    <mat-select required formControlName="type">
      <mat-option *ngFor="let accountType of accountTypes" [value]="accountType">
        {{ accountType }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Initial Balance</mat-label>
    <input matInput type="number" required formControlName="balance">
  </mat-form-field>
</form>
<button mat-raised-button color="warn" (click)="closeDialog()">Cancel</button>
<button mat-raised-button color="primary" (click)="addAccount()">Add</button>